.about {
  opacity: 0;
}

.content[data-template="about"] {
  color: #dfdfdf;
}

/* 
 * CONTENT
 * /////////////////////////////////////////////////
 */

.about__header__image {
  width: 100%;
  height: 65vh;
  object-fit: cover;
  margin-top: calc(var(--column-gap) * 2 + var(--nav-height));
  padding-left: 1px;
  padding-right: 1px;
  grid-column: 1 / -1;
  margin-bottom: 96px;
}

.about__title,
.about__text-1,
.about__text-2 {
  grid-column: 1 / -1;
}

.about__title {
  font-size: clamp(48px, 2.627rem + 1.754vw, 60px);
  margin-bottom: 192px;
}

.about__awards,
.about__text-1,
.about__text-2 {
  font-size: 14px;
  line-height: 1.5;
}

.about__text-1 {
  margin-bottom: 192px;
}

.about__text-2 {
  margin-bottom: 384px;
}

.about__awards {
  grid-column: 1 / -1;
}

.about__awards__title {
  text-align: right;
  font-size: 40px;
  margin-bottom: 64px;
}

.about__awards__line {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid;
  margin-bottom: 32px;
}

.about__awards__line:last-of-type {
  border-bottom: none;
}

.about__awards__line__topic {
  max-width: 75%;
}

@media screen and (min-width: 768px) {
  .about__header__image {
    grid-column: 4 / span 3;
    height: auto;
    aspect-ratio: 3 / 4;
  }

  .about__title {
    grid-column: 2 / span 5;
  }

  .about__text-1 {
    grid-column: 3 / -1;
  }

  .about__text-2 {
    grid-column: 4 / -1;
  }

  .about__awards {
    grid-column: 3 / -1;
  }
}

@media screen and (min-width: 1024px) {
  .about__header__image {
    grid-column: 5 / span 3;
  }

  .about__title {
    grid-column: 2 / span 6;
  }

  .about__text-1 {
    grid-column: 4 / -1;
  }

  .about__text-2 {
    grid-column: 5 / -1;
  }

  .about__awards__title {
    grid-column: 2 / -2;
  }

  .about__awards {
    grid-column: 4 / -2;
  }
}

@media screen and (min-width: 1366px) {
  .about__header__image {
    grid-column: 7 / span 3;
  }

  .about__title {
    grid-column: 2 / span 5;
    text-align: left;
  }

  .about__text-2 {
    grid-column: 6 / -1;
  }

  .about__awards {
    grid-column: 6 / -2;
  }
}
