:root {
  --body-margins: 10px;
}

@media screen and (min-width: 768px) {
  :root {
    --body-margins: 20px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --body-margins: 30px;
  }
}

html {
  font-family: "Inter";
  font-size: calc(100vw / 340 * 10);
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-transform: uppercase;
  color: #334;
}

body {
  margin: 0 var(--body-margins);
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

.mb-sm {
  margin-bottom: 6.4rem;
}

.mb-md {
  margin-bottom: 9.6rem;
}

.mb-xl {
  margin-bottom: 19.2rem;
}

.align-right {
  text-align: right;
}

/* 
 * GRID
 * /////////////////////////////////////////////////
 */

.background-columns {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: var(--body-margins);
  right: var(--body-margins);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 0;
  grid-column-gap: 10px;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
  }
}

/* 
 * NAV
 * /////////////////////////////////////////////////
 */

nav {
  position: fixed;
  top: var(--body-margins);
  left: var(--body-margins);
  right: var(--body-margins);
  font-size: clamp(16px, 1.6rem, 24px);
}

.name {
  grid-column: 1 / span 2;
}

.about {
  grid-column: -1;
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .name {
    grid-column: 2 / span 2;
  }

  .about {
    grid-column: 7;
  }
}

/* 
 * FOOTER
 * /////////////////////////////////////////////////
 */

.footer__wrapper {
  grid-column: 1 / -1;
  background: rgba(238, 238, 238, 0.3);
  border: 1px solid #ccc;
  border-radius: 20px 20px 0 0;
  padding: 60px 10px 40px;
  margin: 0 -10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.footer__label {
  display: block;
  font-size: clamp(10px, 1rem, 14px);
  margin-bottom: 10px;
}

.footer__info {
  font-size: clamp(14px, 1.4rem, 18px);
  margin-bottom: 40px;
}

.footer__info:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    margin: 0 -20px;
    padding: 60px 20px 40px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__wrapper {
    grid-column: 2 / -2;
    margin: 0 0 10vh;
    border-radius: 20px;
    padding: 45px 0;
    align-items: end;
  }

  .info {
    grid-column: 2 / span 2;
  }
}
