:root {
  --column-nb: 4;
  --column-gap: 10px;
  --nav-height: 39px;
}

@media screen and (min-width: 768px) {
  :root {
    --column-nb: 6;
    --column-gap: 15px;
    --nav-height: 58px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --column-nb: 8;
  }
}

@media screen and (min-width: 1366px) {
  :root {
    --column-nb: 10;
  }
}

html {
  font-family: "Inter";
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-transform: uppercase;
  color: #334;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.2;
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  //TODO: remove video when I replace them with gifs
  display: block;
}

p {
  font-size: clamp(10px, 0.426rem + 0.935vw, 14px);
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 14px;
  }
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 var(--column-gap);
}

/* 
 * ANIMATIONS WRAPPERS
 * /////////////////////////////////////////////////
 */

.line-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}

.line {
  display: block;
}

/* 
 * GRID
 * /////////////////////////////////////////////////
 */

.background-columns {
  z-index: -100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: var(--column-gap);
  right: var(--column-gap);
}

.background-columns > div {
  border-left: 1px solid;
  border-right: 1px solid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--column-nb), 1fr);
  grid-template-rows: 1fr;
  row-gap: 0;
  column-gap: var(--column-gap);
}

/* 
 * NAV
 * /////////////////////////////////////////////////
 */

nav {
  position: fixed;
  top: var(--column-gap);
  left: var(--column-gap);
  right: var(--column-gap);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.nav__links-wrapper {
  height: min-content;
  overflow: hidden;
}

.nav__links {
  // TODO: remove this when I implement my own link animations
  // @extend %link--hidden;

  width: 100px;
  height: 24px;
  position: relative;
  overflow: hidden;
}

.nav__links__about,
.nav__links__home {
  position: absolute;
  right: 0;
  transform: translateY(100%);
}

@media screen and (min-width: 768px) {
  nav {
    font-size: 24px;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    left: calc(var(--column-gap) + 100vw / var(--column-nb));
    right: calc(var(--column-gap) + 100vw / var(--column-nb));
  }
}

/* 
 * FOOTER
 * /////////////////////////////////////////////////
 */

footer {
  border: 1px solid #ccc;
  border-radius: 20px 20px 0 0;
  margin: 256px -10px 0;
  overflow: hidden;
  grid-column: 1 / -1;
}

.default-footer {
  background: rgba(238, 238, 238, 0.3);
  padding: 60px var(--column-gap) 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--column-gap);
}

.footer__label {
  display: block;
  font-size: clamp(10px, 0.501rem + 0.585vw, 14px);
  margin-bottom: 10px;
}

.footer__info {
  font-size: clamp(14px, 0.751rem + 0.585vw, 18px);
  margin-bottom: 40px;
}

.footer__info:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  footer {
    margin: 384px -15px 0;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    grid-column: 2 / -2;
    margin: 384px 0 10vh;
    border-radius: 20px;
    align-items: end;
  }

  .default-footer {
    padding: 45px 0;
  }

  .info {
    grid-column: 2 / span 2;
  }
}

@media screen and (min-width: 1366px) {
  .default-footer {
    grid-template-columns: repeat(8, 1fr);
  }

  .info {
    grid-column: 3 / span 2;
  }
}
