/* 
* TOP SECTION
* /////////////////////////////////////////////////
*/

.home__top-section {
  height: 100vh;
  align-items: end;
  padding: var(--column-gap) 0;
  margin-bottom: 20vh;
  grid-column: 1 / -1;
  font-size: clamp(16px, 0.751rem + 1.17vw, 24px);
}

.home__top-section > p {
  font-size: 24px;
}

.home__top-section__position {
  grid-column: 1 / span 2;
}

.home__top-section__portfolio {
  text-align: right;
  grid-column: -3 / span 2;
}

@media screen and (min-width: 1024px) {
  .home__top-section {
    align-items: center;
  }

  .home__top-section__position {
    grid-column: 5 / span 2;
    /* Specifying grid-rows is necessary otherwise items won't overlap */
    grid-row: 1 / 2;
    /* Alternative syntax */
    /* grid-area: 1 / 5 / 2 / 7; */
  }

  .home__top-section__portfolio {
    grid-column: 6 / span 2;
    grid-row: 1 / 2;
  }
}

@media screen and (min-width: 1366px) {
  .home__top-section__position {
    grid-column: 7 / span 2;
  }

  .home__top-section__portfolio {
    grid-column: 8 / span 2;
  }
}

/* 
 * PROJECTS SECTION
 * /////////////////////////////////////////////////
 */

.home__project {
  margin-bottom: 25vh;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--column-gap);
}

.home__project:last-of-type {
  margin-bottom: 0;
}

.home__project__index {
  font-size: 24px;
  display: none;
}

.home__project__block {
  display: block;
  grid-column: 1 / -1;
}

.home__project__block__image-wrapper {
  aspect-ratio: 5 / 3;
}

.sopra-banking-software .home__project__block__image-wrapper {
  background: #800073;
}

.last-quest .home__project__block__image-wrapper {
  background: #ca7d02;
}

.solers-io .home__project__block__image-wrapper {
  background: #53389d;
}

.atelier-tote-bag .home__project__block__image-wrapper {
  background: #c9bba6;
}

.home__project__block__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: black;
  padding: 0 20px;
}

.solers-cover {
  background: white;
  border: 1px solid #ccc;
}

.atelier-cover {
  padding: 0;
  object-fit: cover;
  border: 1px solid #ccc;
}

.home__project__block__name {
  margin-top: 0.7em;
  font-size: clamp(24px, 0.754rem + 3.509vw, 48px);
}

@media screen and (min-width: 1024px) {
  .home__project__index {
    display: block;
  }

  .home__project__block {
    grid-column: 2 / span 4;
  }

  .home__project__block__name {
    display: none;
  }

  .sopra-banking-software {
    grid-column: 3 / span 5;
  }

  .last-quest {
    grid-column: 1 / span 5;
  }

  .solers-io {
    grid-column: 4 / span 5;
  }

  .atelier-tote-bag {
    grid-column: 2 / span 5;
  }
}

@media screen and (min-width: 1366px) {
  .home__project {
    grid-template-columns: repeat(6, 1fr);
  }

  .home__project__block {
    grid-column: 2 / span 5;
  }

  .sopra-banking-software {
    grid-column: 4 / span 6;
  }

  .last-quest {
    grid-column: 2 / span 6;
  }

  .solers-io {
    grid-column: 5 / span 6;
  }

  .atelier-tote-bag {
    grid-column: 3 / span 6;
  }
}
