.background-columns > div {
  border-left: 1px solid rgba(233, 233, 233, 0.8);
  border-right: 1px solid rgba(233, 233, 233, 0.8);
}

/* 
 * TOP SECTION
 * /////////////////////////////////////////////////
 */

.top-section {
  padding: 10px 0;
  height: 100vh; /* In case browser doesn't support svh, falls back to vh */
  height: 100svh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.6rem;
}

.top-section > p {
  max-width: 30%;
}

.top-section > p:last-of-type {
  text-align: right;
}

/* 
 * PROJECTS SECTION
 * /////////////////////////////////////////////////
 */

.projects {
  display: grid;
  grid-auto-rows: 65vh;
  padding-top: 10vh;
}

.project {
  display: grid;
  align-items: center;
}

.project__image__container {
  height: 70%;
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__name {
  margin-top: 1.6rem;
  font-size: 2.4rem;
}
