@media screen and (min-width: 768px) {
  .project__text-4.last-quest {
    grid-column: 3 / span 3;
  }
}

@media screen and (min-width: 1024px) {
  .project__text-4.last-quest {
    grid-column: 4 / span 3;
  }
}

@media screen and (min-width: 1366px) {
  .project__text-4.last-quest {
    grid-column: 5 / span 3;
  }
}
