.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: end end;
  padding: 40px 60px;
  background-color: white;
  z-index: z("preloader");
}

.preloader__counter {
  position: absolute;
  bottom: 5px;
  right: 30px;
  font-size: 100px;
  z-index: z("preloader");
  mix-blend-mode: plus-lighter;
}

.preloader__columns {
  @extend %grid;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-gap: 0;
}

.preloader__columns > div {
  background-color: #334;
  height: 0;
}
