/* 
 * HEADER SECTION
 * /////////////////////////////////////////////////
 */

.project__header {
  margin-top: calc(var(--column-gap) * 2 + var(--nav-height));
  margin-bottom: 192px;
  grid-column: 1 / -1;
}

.project__header__image-wrapper {
  margin-bottom: 16px;
}

.project__header__image {
  display: block;
  width: 100%;
  height: 30vh;
  padding: 0 20px;
  object-fit: contain;
  background: black;
}

.project__header__info {
  border-radius: 0 0 20px 20px;
  background: rgba(238, 238, 238, 0.3);
  border: 1px solid #ccc;
}

.project__header__info__line {
  grid-column: 1 / -1;
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
  row-gap: 4px;
}

.project__header__info__line:last-of-type {
  border-bottom: 0;
}

.project__header__info__line_label {
  grid-column: 2 / span 3;
  font-size: 14px;
}

.project__header__info__line_client,
.project__header__info__line_date,
.project__header__info__line_link {
  grid-column: 2 / span 3;
  font-size: 18px;
}

.project__header__info__line_tech {
  grid-column: 2 / span 3;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.project__header__info__line_tech > img {
  max-width: 16px;
  max-height: 16px;
  width: auto;
  height: auto;
  font-size: 20px;
  margin-right: 8px;
}

.project__header__info__line_link img {
  width: 16px;
  margin-top: 4px;
}

@media screen and (min-width: 768px) {
  .project__header__image {
    height: 40vh;
    padding: 0 60px;
  }
}

@media screen and (min-width: 1024px) {
  .project__header {
    grid-column: 2 / -2;
    margin-bottom: 192px;
  }

  .project__header__info {
    grid-template-columns: repeat(6, 1fr);
    padding: 16px 0;
  }

  .project__header__info__line {
    display: block;
    border-bottom: none;
    padding: 0;
  }

  .client-cell {
    grid-column: 2 / span 2;
  }

  .tech-cell {
    grid-column: 4;
  }

  .date-cell {
    grid-column: 5;
  }

  .link-cell {
    grid-column: 6;
  }
}

@media screen and (min-width: 1366px) {
  .project__header__image {
    height: 50vh;
    padding: 0 192px;
  }

  .project__header__info {
    grid-template-columns: repeat(8, 1fr);
  }

  .tech-cell {
    grid-column: 6;
  }

  .date-cell {
    grid-column: 7;
  }

  .link-cell {
    grid-column: 8;
  }
}

/* 
 * CONTENT SECTION
 * /////////////////////////////////////////////////
 */

.project__title {
  /* https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
  font-size: clamp(48px, -0.48rem + 16.374vw, 160px);
  margin-bottom: 64px;
  grid-column: 2 / -1;
}

.project__text-1,
.project__text-2,
.project__text-3,
.project__text-4 {
  grid-column: 1 / -1;
}

.project__text-1 {
  margin-bottom: 64px;
}

.project__text-2 {
  margin-bottom: 128px;
}

img,
video {
  width: 100%;
}

.project__media-1,
.project__media-2,
.project__media-3 {
  grid-column: 1 / -1;
  margin-bottom: 64px;
}

.project__middle-title {
  font-size: clamp(36px, 1.504rem + 3.509vw, 60px);
  grid-column: 1 / -1;
  margin: 256px 0 64px;
}

.project__media-4 {
  grid-column: 1 / -1;
  margin-bottom: 64px;
}

.project__media-5 {
  grid-column: 1 / -1;
  margin-bottom: 64px;
}

.project__media-6 {
  grid-column: 1 / -1;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .project__title {
    grid-column: 2 / -1;
  }

  .project__text-1 {
    grid-column: 3 / -1;
  }

  .project__text-2 {
    grid-column: 4 / -1;
  }

  .project__media-1 {
    grid-column: 4 / span 3;
  }

  .project__media-2 {
    grid-column: 3 / span 3;
  }

  .project__media-3 {
    grid-column: 2 / span 3;
  }

  .project__text-3 {
    grid-column: 1 / span 4;
    text-align: right;
  }

  .project__middle-title {
    grid-column: 1 / span 5;
    text-align: right;
  }

  .project__media-4 {
    grid-column: 2 / span 4;
  }

  .project__media-5 {
    grid-column: 3 / span 4;
  }

  .project__media-6 {
    grid-column: 3 / span 4;
  }

  .project__text-4 {
    grid-column: 2 / span 3;
  }
}

@media screen and (min-width: 1024px) {
  .project__title {
    grid-column: 2 / -1;
    margin-bottom: 96px;
  }

  .project__text-1 {
    grid-column: 3 / -1;
    margin-bottom: 96px;
  }

  .project__text-2 {
    grid-column: 4 / -1;
    margin-bottom: 256px;
  }

  .project__media-1 {
    grid-column: 4 / span 4;
    margin-bottom: 96px;
  }

  .project__media-2 {
    grid-column: 3 / span 4;
    margin-bottom: 96px;
  }

  .project__media-3 {
    grid-column: 2 / span 4;
    margin-bottom: 96px;
  }

  .project__text-3 {
    grid-column: 1 / span 5;
  }

  .project__middle-title {
    grid-column: 1 / span 6;
    margin-top: 384px;
    margin-bottom: 96px;
  }

  .project__media-4 {
    grid-column: 3 / span 4;
    margin-bottom: 96px;
  }

  .project__media-5 {
    grid-column: 4 / span 4;
    margin-bottom: 96px;
  }

  .project__media-6 {
    grid-column: 5 / span 4;
    margin-bottom: 96px;
  }

  .project__text-4 {
    grid-column: 3 / span 3;
  }
}

@media screen and (min-width: 1366px) {
  .project__text-1 {
    grid-column: 3 / -1;
  }

  .project__text-2 {
    grid-column: 4 / -1;
  }

  .project__media-1 {
    grid-column: 5 / span 5;
  }

  .project__media-2 {
    grid-column: 4 / span 5;
  }

  .project__media-3 {
    grid-column: 3 / span 5;
  }

  .project__text-3 {
    grid-column: 1 / span 7;
  }

  .project__middle-title {
    grid-column: 1 / span 8;
  }

  .project__media-4 {
    grid-column: 4 / span 5;
  }

  .project__media-5 {
    grid-column: 5 / span 5;
  }

  .project__text-4 {
    grid-column: 4 / span 3;
  }
}

/* 
 * NEXT PROJECT BLOCK
 * /////////////////////////////////////////////////
 */

.next-project {
  position: relative;
  display: block;
  padding: 68px 0;
  text-align: center;
  color: white;
  overflow: hidden;
  cursor: pointer;
}

.next-project:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/japan.jpg");
  background-size: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
  z-index: -1;
}

.next-project:hover:before {
  filter: grayscale(0%);
}

.next-project__label {
  display: block;
  font-size: clamp(12px, 0.377rem + 1.754vw, 24px);
  margin-bottom: 24px;
}

.next-project__title {
  font-size: clamp(32px, 1.503rem + 2.339vw, 48px);
}
