:root {
  --column-nb: 4;
  --column-gap: 10px;
  --nav-height: 39px;

  @include media(">=tablet") {
    --column-nb: 6;
    --column-gap: 15px;
    --nav-height: 58px;
  }

  @include media(">=desktop") {
    --column-nb: 8;
  }

  @include media(">=large-desktop") {
    --column-nb: 10;
  }
}

html {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-transform: uppercase;
  color: #334;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden; //Needed so that swiping up doesn't refresh the page on mobile Chrome
}

body {
  line-height: 1.2;
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  //TODO: remove video when I replace them with gifs
  display: block;
}

p {
  font-size: calculate-size-between(10, 14);
  line-height: 1.5;

  @include media(">=tablet") {
    font-size: 14px;
  }
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 var(--column-gap);
  z-index: z("content");

  > div {
    visibility: hidden;
  }
}

/* 
 * ANIMATIONS WRAPPERS
 * /////////////////////////////////////////////////
 */

.line-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}

.line {
  display: block;
}

/* 
 * GRID
 * /////////////////////////////////////////////////
 */

.background-columns {
  @extend %grid;

  z-index: z("background");
  position: fixed;
  top: 0;
  bottom: 0;
  left: var(--column-gap);
  right: var(--column-gap);

  > div {
    border-left: 1px solid;
    border-right: 1px solid;
  }
}

%grid {
  display: grid;
  grid-template-columns: repeat(var(--column-nb), 1fr);
  grid-template-rows: 1fr;
  row-gap: 0;
  column-gap: var(--column-gap);
}

/* 
 * NAV
 * /////////////////////////////////////////////////
 */

nav {
  position: fixed;
  top: var(--column-gap);
  left: var(--column-gap);
  right: var(--column-gap);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  z-index: z("navigation");

  a {
    pointer-events: all;
  }

  @include media(">=tablet") {
    font-size: 24px;
  }

  @include media(">=desktop") {
    left: calc(var(--column-gap) + 100vw / var(--column-nb));
    right: calc(var(--column-gap) + 100vw / var(--column-nb));
  }
}

.nav__links {
  // TODO: remove this when I implement my own link animations
  // @extend %link--hidden;

  width: 100px;
  height: 24px;
  position: relative;
  overflow: hidden;

  &__about,
  &__home {
    position: absolute;
    right: 0;
    pointer-events: none;
  }
}

/* 
 * FOOTER
 * /////////////////////////////////////////////////
 */

footer {
  border: 1px solid #ccc;
  border-radius: 20px 20px 0 0;
  margin: 256px -10px 0;
  overflow: hidden;
  grid-column: 1 / -1;

  @include media(">=tablet") {
    margin: 384px -15px 0;
  }

  @include media(">=desktop") {
    grid-column: 2 / -2;
    margin: 384px 0 10vh;
    border-radius: 20px;
    align-items: end;
  }
}

.default-footer {
  background: rgba(238, 238, 238, 0.3);
  padding: 60px var(--column-gap) 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--column-gap);

  @include media(">=desktop") {
    padding: 45px 0;
  }

  @include media(">=large-desktop") {
    grid-template-columns: repeat(8, 1fr);
  }
}

.footer__label {
  display: block;
  font-size: calculate-size-between(10, 14);
  margin-bottom: 10px;
}

.footer__info {
  font-size: calculate-size-between(14, 18);

  &:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.info {
  @include media(">=desktop") {
    grid-column: 2 / span 2;
  }

  @include media(">=large-desktop") {
    grid-column: 3 / span 2;
  }
}
