.project__header__image.atelier-tote-bag {
  padding: 0;
  object-fit: cover;
  border: 1px solid #ccc;
}

.project__title.atelier-tote-bag {
  font-size: clamp(40px, -0.296rem + 13.158vw, 130px);

  @include media(">=tablet") {
    grid-column: 2 / span 5;
  }

  @include media(">=desktop") {
    grid-column: 2 / span 6;
  }

  @include media(">=large-desktop") {
    grid-column: 2 / span 7;
  }
}
