.home {
  @extend %grid;
}

/* 
* TOP SECTION
* /////////////////////////////////////////////////
*/

.home__top-section {
  @extend %grid;

  height: 100vh;
  height: 100svh;
  align-items: end;
  padding: var(--column-gap) 0;
  margin-bottom: 20vh;
  grid-column: 1 / -1;
  font-size: calculate-size-between(16, 24);

  > p {
    font-size: 24px;
  }

  @include media(">=desktop") {
    align-items: center;
  }
}

.home__top-section__position {
  grid-column: 1 / span 2;

  @include media(">=desktop") {
    grid-column: 5 / span 2;
    /* Specifying grid-rows is necessary otherwise items won't overlap */
    grid-row: 1 / 2;
    /* Alternative syntax */
    /* grid-area: 1 / 5 / 2 / 7; */
  }

  @include media(">=large-desktop") {
    grid-column: 7 / span 2;
  }
}

.home__top-section__portfolio {
  text-align: right;
  grid-column: -3 / span 2;

  @include media(">=desktop") {
    grid-column: 6 / span 2;
    grid-row: 1 / 2;
  }

  @include media(">=large-desktop") {
    grid-column: 8 / span 2;
  }
}

/* 
 * PROJECTS SECTION
 * /////////////////////////////////////////////////
 */

.home__project {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--column-gap);
  pointer-events: none;

  &:not(:last-of-type) {
    margin-bottom: 25vh;
  }

  @include media(">=large-desktop") {
    grid-template-columns: repeat(6, 1fr);
  }
}

[data-project="sopra-banking-software"] {
  @include media(">=desktop") {
    grid-column: 3 / span 5;
  }

  @include media(">=large-desktop") {
    grid-column: 4 / span 6;
  }
}

[data-project="last-quest"] {
  @include media(">=desktop") {
    grid-column: 1 / span 5;
  }

  @include media(">=large-desktop") {
    grid-column: 2 / span 6;
  }
}

[data-project="solers-io"] {
  @include media(">=desktop") {
    grid-column: 4 / span 5;
  }

  @include media(">=large-desktop") {
    grid-column: 5 / span 6;
  }
}

[data-project="atelier-tote-bag"] {
  @include media(">=desktop") {
    grid-column: 2 / span 5;
  }

  @include media(">=large-desktop") {
    grid-column: 3 / span 6;
  }
}

.home__project__index {
  font-size: 24px;
  display: none;

  @include media(">=desktop") {
    display: block;
  }
}

.home__project__block {
  display: block;
  grid-column: 1 / -1;
  pointer-events: all;

  @include media(">=desktop") {
    grid-column: 2 / span 4;
  }

  @include media(">=large-desktop") {
    grid-column: 2 / span 5;
  }
}

.home__project__block__image-wrapper {
  aspect-ratio: 5 / 3;
}

.home__project__block__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: black;
  padding: 0 20px;
}

.solers-cover {
  background: white;
  border: 1px solid #ccc;
}

.atelier-cover {
  padding: 0;
  object-fit: cover;
  border: 1px solid #ccc;
}

.home__project__block__name {
  margin-top: 0.7em;
  font-size: calculate-size-between(24, 48);

  @include media(">=desktop") {
    display: none;
  }
}

.project-names {
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--column-gap);
  right: var(--column-gap);
  pointer-events: none;
  font-family: "Gambetta-Bold", serif;
  font-size: calculate-size-between(110, 140);
}

.project-names__project {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project-names__project__line {
  @extend %grid;

  position: relative;
  height: 50vh;
  place-items: center;
}

.project-names__project__line__letter-container {
  position: relative;
  width: 100%;
  overflow: hidden;

  > div {
    position: relative;
    text-align: center;
    transform: translateX(-100%);
    z-index: z("overlay");
  }

  .letter-1 {
    grid-area: 1 / 1 / 1 / 1;
  }

  .letter-2 {
    grid-area: 1 / 2 / 1 / 2;
  }

  .letter-3 {
    grid-area: 1 / 3 / 1 / 3;
  }

  .letter-4 {
    grid-area: 1 / 4 / 1 / 4;
  }

  .letter-5 {
    grid-area: 1 / 5 / 1 / 5;
  }

  .letter-6 {
    grid-area: 1 / 6 / 1 / 6;
  }

  .letter-7 {
    grid-area: 1 / 7 / 1 / 7;
  }

  .letter-8 {
    grid-area: 1 / 8 / 1 / 8;
  }
}
