.project__text-4.last-quest {
  @include media(">=tablet") {
    grid-column: 3 / span 3;
  }

  @include media(">=desktop") {
    grid-column: 4 / span 3;
  }

  @include media(">=large-desktop") {
    grid-column: 5 / span 3;
  }
}
