.project {
  @extend %grid;
}

/* 
 * HEADER SECTION
 * /////////////////////////////////////////////////
 */

.project__header {
  margin-top: calc(var(--column-gap) * 2 + var(--nav-height));
  margin-bottom: 192px;
  grid-column: 1 / -1;

  @include media(">=desktop") {
    grid-column: 2 / -2;
    margin-bottom: 192px;
  }
}

.project__header__image-wrapper {
  margin-bottom: 16px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.project__header__image {
  width: 100%;
  height: 30vh;
  padding: 0 20px;
  object-fit: contain;
  background: black;

  @include media(">=tablet") {
    height: 40vh;
    padding: 0 60px;
  }

  @include media(">=large-desktop") {
    height: 50vh;
    padding: 0 192px;
  }
}

.project__header__info {
  @extend %grid;

  border-radius: 0 0 12px 12px;
  background: rgba(238, 238, 238, 0.3);
  border: 1px solid #ccc;

  @include media(">=tablet") {
    grid-template-columns: repeat(6, 1fr);
    padding: 16px 0;
  }

  @include media(">=large-desktop") {
    grid-template-columns: repeat(8, 1fr);
  }
}

.project__header__info__line {
  @extend %grid;

  grid-column: 1 / -1;
  padding: 16px 0;
  row-gap: 4px;

  &:not(:last-of-type) {
    border-bottom: 1px solid #ccc;

    @include media(">=tablet") {
      border-bottom: 0;
    }
  }
}

.project__header__info__line_label {
  grid-column: 2 / span 3;
  font-size: 14px;
}

.project__header__info__line {
  &--client,
  &--tech,
  &--date,
  &--link {
    grid-column: 2 / span 3;
    font-size: 18px;
  }

  @include media(">=tablet") {
    display: block;
    border-bottom: none;
    padding: 0;
  }
}

.project__header__info__line--tech {
  display: flex;
  align-items: center;
  margin-top: 4px;

  > img {
    max-width: 16px;
    max-height: 16px;
    width: auto;
    height: auto;
    font-size: 20px;
    margin-right: 8px;
  }
}

.project__header__info__line--link img {
  width: 16px;
  margin-top: 4px;
}

.client-cell {
  @include media(">=tablet") {
    grid-column: 2 / span 2;
  }
}

.tech-cell {
  @include media(">=tablet") {
    grid-column: 4;
  }

  @include media(">=large-desktop") {
    grid-column: 6;
  }
}

.date-cell {
  @include media(">=tablet") {
    grid-column: 5;
  }

  @include media(">=large-desktop") {
    grid-column: 7;
  }
}

.link-cell {
  @include media(">=tablet") {
    grid-column: 6;
  }

  @include media(">=large-desktop") {
    grid-column: 8;
  }
}

/* 
 * CONTENT SECTION
 * /////////////////////////////////////////////////
 */

.project__title {
  font-size: calculate-size-between(48, 160);
  margin-bottom: 64px;
  grid-column: 2 / -1;
  font-family: "Gambetta-Bold", serif;

  @include media(">=tablet") {
    grid-column: 2 / -1;
  }

  @include media(">=desktop") {
    margin-bottom: 96px;
  }
}

.project__text-1,
.project__text-2,
.project__text-3,
.project__text-4 {
  grid-column: 1 / -1;
}

.project__text-1 {
  margin-bottom: 64px;

  @include media(">=tablet") {
    grid-column: 3 / -1;
  }

  @include media(">=desktop") {
    margin-bottom: 96px;
  }
}

.project__text-2 {
  margin-bottom: 128px;

  @include media(">=tablet") {
    grid-column: 4 / -1;
  }

  @include media(">=desktop") {
    margin-bottom: 256px;
  }
}

.project__text-3 {
  grid-column: 1 / span 4;
  text-align: right;

  @include media(">=desktop") {
    grid-column: 1 / span 5;
  }

  @include media(">=large-desktop") {
    grid-column: 1 / span 7;
  }
}

.project__text-4 {
  @include media(">=tablet") {
    grid-column: 2 / span 3;
  }

  @include media(">=desktop") {
    grid-column: 3 / span 3;
  }

  @include media(">=large-desktop") {
    grid-column: 4 / span 3;
  }
}

img,
video {
  width: 100%;
}

.image-1,
.image-2,
.image-3,
.image-4,
.image-5,
.image-6 {
  grid-column: 1 / -1;
  margin-bottom: 64px;
  border-radius: 12px;
  overflow: hidden;

  @include media(">=desktop") {
    margin-bottom: 96px;
  }
}

.image-1 {
  @include media(">=tablet") {
    grid-column: 4 / span 3;
  }

  @include media(">=desktop") {
    grid-column: 4 / span 4;
  }

  @include media(">=large-desktop") {
    grid-column: 5 / span 5;
  }
}

.image-2 {
  @include media(">=tablet") {
    grid-column: 3 / span 3;
  }

  @include media(">=desktop") {
    grid-column: 3 / span 4;
  }

  @include media(">=large-desktop") {
    grid-column: 4 / span 5;
  }
}

.image-3 {
  @include media(">=tablet") {
    grid-column: 2 / span 3;
  }

  @include media(">=desktop") {
    grid-column: 2 / span 4;
  }

  @include media(">=large-desktop") {
    grid-column: 3 / span 5;
  }
}

.image-4 {
  @include media(">=tablet") {
    grid-column: 2 / span 4;
  }

  @include media(">=desktop") {
    grid-column: 3 / span 4;
  }

  @include media(">=large-desktop") {
    grid-column: 4 / span 5;
  }
}

.image-5 {
  @include media(">=tablet") {
    grid-column: 3 / span 4;
  }

  @include media(">=desktop") {
    grid-column: 4 / span 4;
  }

  @include media(">=large-desktop") {
    grid-column: 5 / span 5;
  }
}

.image-6 {
  @include media(">=tablet") {
    grid-column: 3 / span 4;
  }

  @include media(">=desktop") {
    grid-column: 5 / span 4;
  }

  @include media(">=large-desktop") {
    grid-column: 5 / span 5;
  }
}

.project__middle-title {
  font-size: calculate-size-between(36, 60);
  grid-column: 1 / -1;
  margin: 256px 0 64px;

  @include media(">=tablet") {
    grid-column: 1 / span 5;
    text-align: right;
  }

  @include media(">=desktop") {
    grid-column: 1 / span 6;
    margin-top: 384px;
    margin-bottom: 96px;
  }

  @include media(">=large-desktop") {
    grid-column: 1 / span 8;
  }
}

/* 
 * PREV/NEXT PROJECT BLOCKS
 * /////////////////////////////////////////////////
 */

.project-navigation {
  position: relative;
  grid-column: 1 / -1;
  display: grid;
  place-items: center;
  height: 240px;
  text-align: center;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  margin: 256px 0 10px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(35%);
  }

  .project-navigation__icon-wrapper {
    position: absolute;
    width: 120px;
    overflow: hidden;
  }

  &__title {
    position: absolute;
    line-height: 1em;
    font-size: calculate-size-between(32, 48);
  }

  @include media(">=tablet") {
    margin: 384px 0 15px;
  }

  @include media(">=desktop") {
    margin: 384px 0 10vh;
  }
}

.prev-project {
  display: none;

  @include media(">=tablet") {
    display: grid;
    grid-column: 1 / 4;
  }

  @include media(">=desktop") {
    grid-column: 2 / 5;
  }
}

.next-project {
  @include media(">=tablet") {
    grid-column: 4 / -1;
  }

  @include media(">=desktop") {
    grid-column: 5 / -2;
  }

  @include media(">=large-desktop") {
    grid-column: 7 / -2;
  }
}

[data-project="sopra-banking-software"] {
  .prev-project::before {
    background-image: url("/images/atelier-tote-bag/cover.webp");
  }
  .next-project::before {
    background-image: url("/images/last-quest/cover.png");
  }
}

[data-project="last-quest"] {
  .prev-project::before {
    background-image: url("/images/sbs-summit/cover.png");
    background-color: black;
    background-size: 90%;
    background-repeat: no-repeat;
  }
  .next-project::before {
    background-image: url("/images/solers-io/solers-logo.svg");
    background-color: white;
    background-size: 90%;
    background-repeat: no-repeat;
  }
}

[data-project="solers-io"] {
  .prev-project::before {
    background-image: url("/images/last-quest/cover.png");
  }
  .next-project::before {
    background-image: url("/images/atelier-tote-bag/cover.webp");
  }
}

[data-project="atelier-tote-bag"] {
  .prev-project::before {
    background-image: url("/images/solers-io/solers-logo.svg");
    background-color: white;
    background-size: 90%;
    background-repeat: no-repeat;
  }
  .next-project::before {
    background-image: url("/images/sbs-summit/cover.png");
    background-color: black;
    background-size: 90%;
    background-repeat: no-repeat;
  }
}
