.project__title.solers-io {
  font-size: calculate-size-between(40, 160);
}

.project__header__image.solers-io {
  background: white;
  border: 1px solid #ccc;
}

.project__text-4.solers-io {
  @include media(">=tablet") {
    grid-column: 3 / -1;
  }

  @include media(">=desktop") {
    grid-column: 5 / -1;
  }
}
